<div class="d-flex justify-content-center mt-3">
  <div class="card" style="width:30rem;">
    <div class="card-body">
      <h5 class="card-title text-center">Client Information Form</h5>
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

          <input type="text" class="form-control form-control-sm" id="name" formControlName="name" placeholder="Name">
          <span *ngIf="clientForm.controls['name']?.invalid && clientForm.controls['name']?.touched" class="text-danger">
            Name is required
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" id="phone" formControlName="phone" placeholder="phone">
          <span *ngIf="clientForm.controls['phone']?.invalid && clientForm.controls['phone']?.touched" class="text-danger">
            Enter a valid 10-digit phone number
          </span>
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email" placeholder="email">
          <span *ngIf="clientForm.controls['email']?.invalid && clientForm.controls['email']?.touched" class="text-danger">
            Enter a valid email address
          </span>
        </div>

        <div class="form-group">
          <input type="text" class="form-control form-control-sm" id="company" formControlName="company" placeholder="company">
          <span *ngIf="clientForm.controls['company']?.invalid && clientForm.controls['company']?.touched" class="text-danger">
            Company is required
          </span>
        </div>
        <div formGroupName="address">
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="street" formControlName="street" placeholder="street">
            <span *ngIf="clientForm.get('address')?.get('street')?.invalid && clientForm.get('address')?.get('street')?.touched" class="text-danger">
              Street is required
            </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="city" formControlName="city" placeholder="city">
            <span *ngIf="clientForm.get('address')?.get('city')?.invalid && clientForm.get('address')?.get('city')?.touched" class="text-danger">
              City is required
            </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="state" formControlName="state" placeholder="state">
            <span *ngIf="clientForm.get('address')?.get('state')?.invalid && clientForm.get('address')?.get('state')?.touched" class="text-danger">
              State is required
          </span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control form-control-sm" id="pincode" formControlName="pincode" placeholder="pincode">
            <span  *ngIf="clientForm.get('address')?.get('pincode')?.invalid && clientForm.get('address')?.get('pincode')?.touched" class="text-danger">
              Enter a valid 6-digit PIN code
            </span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" [disabled]="clientForm.invalid">Submit</button>
      </form>
    </div>
</div>
</div>
